.elite-2{
    width: 300px;
    position: absolute;
    top: 400px;
    left: 67%;
    border-radius: 15px;
}
.elite-3{
    width: 300px;
    position: absolute;
    top: 970px;
    left: 36%;
    border-radius: 15px;
}
.elite-4{
    width: 300px;
    position: absolute;
    top: 1530px;
    left: 67%;
    border-radius: 15px;
}